<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu side-menu-custom">
    <div class="sidebar-inner slimscrollleft">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title menu-title-custom">Danh mục chức năng</li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-account-box"></i> <span> Quản lý người dùng </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Admin/Account">Danh sách tài khoản</a></li>
                        <li><a href="/Admin/Account/Create">Thêm mới tài khoản</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Quản lý sản phẩm </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Admin/Product">Danh sách sản phẩm</a></li>
                        <li><a href="/Admin/Product/Create">Thêm mới sản phẩm</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-agenda"></i> <span> Quản lý loại sản phẩm </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Admin/Category">Danh sách loại sản phẩm</a></li>
                        <li><a href="/Admin/Category/Create">Thêm mới loại sản phẩm</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-agenda"></i> <span> Quản lý tin tức </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Admin/News">Danh sách tin tức</a></li>
                        <li><a href="/Admin/News/Create">Thêm mới tin tức</a></li>
                    </ul>
                </li>
                <li class="text-muted menu-title menu-title-custom">Thông tin website</li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Thông tin giới thiệu </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Admin/About">Danh sách giới thiệu</a></li>
                        <li><a href="/Admin/About/Create">Thêm mới giới thiệu</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Quản lý slide ảnh </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/Admin/Slide">Danh sách slide ảnh</a></li>
                        <li><a href="/Admin/Slide/Create">Thêm mới slide ảnh</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->