<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left topbar-left-custom">
        <a href="/Admin/Home" class="logo">
            <i style="font-weight:bold; color:#ffffff" class="fa fa-code zmdi-hc-lg"></i>
            <span style="color:#ffffff">LED SÁNG VIỆT</span>
        </a>
    </div>
    <nav class="navbar navbar-custom">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <button class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="zmdi zmdi-menu"></i>
                </button>
            </li>
            <li class="nav-item hidden-mobile">
                <form role="search" class="app-search">
                    <input type="text" placeholder="Tìm kiếm..." class="form-control">
                    <a href="#"><i class="fa fa-search"></i></a>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="/Assets/Admin/images/users/avatar-1.jpg" alt="user">
                    @*<span><i class="zmdi zmdi-account-circle zmdi-hc-2x"></i></span>*@
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>Welcome ! Nguyen Hoang Chuong</small> </h5>
                    </div>
                    <!-- item-->
                    @Html.ActionLink(" Thiết lập", "SignOut", "Login",null, new { @class = "dropdown-item notify-item zmdi zmdi-settings" })

                    <!-- item-->
                    <div>@Html.ActionLink(" Đăng xuất", "SignOut", "Login",null, new { @class = "dropdown-item notify-item zmdi zmdi-power" })</div>
                </div>
            </li>
        </ul>
    </nav>
</div>