<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nguyen Hoang Chuong">
    <meta name="author" content="Nguyen Hoang Chuong">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="/Assets/images/favicon.ico">

    <!-- App title -->
    <title>@ViewBag.Title</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/Assets/plugins/morris/morris.css">

    <!-- Switchery css -->
    <link href="/Assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

    <!-- App CSS -->
    <link href="/Assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/site.css" rel="stylesheet" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Modernizr js -->

</head>


<body>

    <!-- Navigation Bar-->

    @{Html.RenderAction("NavigationBar", "Home");}
    <!-- End Navigation Bar-->
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="wrapper">
        <div class="container">

            @RenderBody()

            @{Html.RenderAction("Footer", "Home");}

            <script>
                var resizefunc = [];
            </script>

        </div> <!-- container -->
    </div> <!-- End wrapper -->
    <!-- jQuery  -->
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
    <script src="/Assets/js/bootstrap.min.js"></script>
    <script src="/Assets/js/waves.js"></script>
    <script src="/Assets/js/jquery.nicescroll.js"></script>
    <script src="/Assets/plugins/switchery/switchery.min.js"></script>

    <!--Morris Chart-->
    <script src="/Assets/plugins/morris/morris.min.js"></script>
    <script src="/Assets/plugins/raphael/raphael-min.js"></script>

    <!-- Counter Up  -->
    <script src="/Assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/Assets/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- App js -->
    <script src="/Assets/js/jquery.core.js"></script>
    <script src="/Assets/js/jquery.app.js"></script>

    <!-- Page specific js -->
    <script src="/Assets/pages/jquery.dashboard.js"></script>
    <script src="/Assets/js/site.js"></script>
    <div id='bttop'>Lên đầu trang</div>
</body>

</html>