
<div class="page-wrapper-row">
    <div class="page-wrapper-top">
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="/">
                            @*<h1><strong>Bloger</strong></h1>*@
                            <img src="/Assets/Frontend/layout/img/logo-default.jpg" alt="logo" class="logo-default">
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <div class="nav navbar-nav pull-right">
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <div style="margin-top: 15px">
                                <strong>Hotline: 0164 7931 390</strong>
                            </div>
                            <!-- END USER LOGIN DROPDOWN -->
                        </div>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu">
                <div class="container">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <form class="search-form" action="#" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa..." name="query">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu">
                        <ul class="nav navbar-nav">
                            <li aria-haspopup="true" class="active">
                                <a href="/trang-chu" class="nav-link">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                            <li aria-haspopup="true" class="">
                                <a href="/trang-chu" class="nav-link">
                                    Trang chủ
                                </a>
                            </li>
                            <li aria-haspopup="true" class="">
                                <a href="/gioi-thieu" class="nav-link">
                                    Giới thiệu
                                </a>
                            </li>
                            <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown">
                                <a href="javascript:;">
                                    Lịch khai giảng
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu" style="min-width: 710px">
                                    <li>
                                        <div class="mega-menu-content">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <a href="#"> Lập trình web </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <a href="#"> Lạp trình di động </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <a href="#"> Tin học văn phòng </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  mega-menu-full">
                                <a href="javascript:;">
                                    Khóa học
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu" style="min-width: ">
                                    <li>
                                        <div class="mega-menu-content">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <h3><strong>Lập trình web</strong></h3>
                                                        </li>
                                                        <li>
                                                            <a href="#"> Lập trình web java servlet </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <h3><strong>Lập trình di động</strong></h3>
                                                        </li>
                                                        <li>
                                                            <a href="#"> Lập trình android </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <h3><strong>Lập trình Game</strong></h3>
                                                        </li>
                                                        <li>
                                                            <a href="#"> Lập trình game unity </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <h3><strong>Tin học văn phòng</strong></h3>
                                                        </li>
                                                        <li>
                                                            <a href="#"> Microsoft Office 2016 </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown">
                                <a href="javascript:;">
                                    Dịch vụ
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li aria-haspopup="true" class="">
                                        <a href="#" class="nav-link">
                                            Bootstrap Form Controls
                                        </a>
                                    </li>
                                    <li aria-haspopup="true" class="">
                                        <a href="#" class="nav-link">
                                            Bootstrap Form Controls
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li aria-haspopup="true" class="">
                                <a href="/tin-tuc" class="nav-link">
                                    Tin tức
                                </a>
                            </li>
                            <li aria-haspopup="true" class="">
                                <a href="/lien-he" class="nav-link">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MEGA MENU -->
                </div>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!-- END HEADER -->
    </div>
</div>
