.topbar-left-custom {
    background-color: #2b3d51 !important;
    /*border-right: #666666 solid 5px;*/
}

    .topbar-left-custom i, span {
    }

.side-menu-custom {
    background-color: #ffffff !important;
}

.menu-title-custom {
    color: #222222 !important;
    font-weight:bold !important;
    background-color:#79B6BD !important;
    border-bottom: #E3E3E3 solid 1px !important;
}
.has_sub {
    border-bottom: #E3E3E3 solid 1px !important;
}
.has_sub ul li{
    border-top: #E3E3E3 solid 1px !important;
}