
@{
    ViewBag.Title = "Sản phẩm | Led sáng việt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-xs-12">
        <div class="card-box">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-xl-6">
                        <div class="thumb">
                            <img src="/Assets/images/gallery/2.jpg" class="thumb-img">
                        </div>
                    </div><!-- end col -->
                    <div class="col-xs-12 col-lg-12 col-xl-6">

                        <div class="pull-xs-left" style="margin-top: 15px">
                            <address>
                                <h4><strong>ĐÈN LED ÂM TRẦN VIỀN BẠC 5W</strong></h4><hr>
                                <strong>MÃ SẢN PHẨM :</strong> GH-LAT-VB-5W<br>
                                <strong>GIÁ SẢN PHẨM :</strong> 100,000 VNĐ <br>
                                <strong>CHIP LED :</strong> EPISTAR - ĐÀI LOAN <br>
                                <strong>BẢO HÀNH :</strong> 24 tháng <br>

                                Hãy gọi cho chúng tôi để có giá tốt nhất. Mr.Nam 0944 755 800 - 093 6446 383 <br><br>

                                <u>Lưu ý:</u> Ngoài các sản phẩm sử dụng chip led Epistar - Đài Loan bảo hành 02 năm, chúng tôi còn cung cấp các sản phẩm sử dụng chip led của Trung Quốc bảo hành 01 và 02 năm. Quý khách có nhu cầu xin vui lòng liên hệ để được tư vấn một cách tốt nhất.
                            </address>

                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
                <br>
                <strong>Đèn led âm trần viền bạc 5W</strong> được thiết kế có lớp kính mặt mờ để tránh chói mắt. Bề mặt sản phẩm được phủ sơn tĩnh điện rất mịn đẹp, cấu tạo thân chắc chắn và có tản nhiệt to dày và nguồn chất lượng ổn định để khách hàng yên tâm lựa chọ sử dụng. Đèn có tuổi thọ cao, tiêu thụ điện năng thấp tiết kiệm 80% năng lượng so với đèn sợ đốt thông thường. <br><br>

                Thân thiện với môi trường khi sử dụng. Đèn led âm trần trong quá trình chiếu sáng không sản sinh ra các chất độc hại như cực tím, photpho, lưu huỳnh rất thân thiện với môi trường. Chính vì trong quá trình tạo ra quang năng đèn led downlight  không có sự làm nóng dây tóc như bóng đèn sợi đốt, hay đốt nóng các chất như bóng đèn huỳnh quang mà chỉ đơn giản là tạo ra sự dịch chuyển của các điện tích làm nên ánh sáng trong sạch tinh khiết không nguy hại tới sức khỏe của người sử dụng.
                Được ứng dụng trong khách sạn, nhà hàng, văn phòng, trung tâm thương mại,…

                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <th>Thông số</th>
                            <th>Giá trị</th>
                        </tr>
                        <tr>
                            <td>Chip led</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Chip led</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Chip led</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Chip led</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Chip led</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Chip led</td>
                            <td>100</td>
                        </tr>
                    </tbody>

                </table>
                <hr>
            </div>
        </div>

    </div>

</div>
<!-- end row -->

<!-- product relative-->
<div class="row">
    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="/Product" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="/Product">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / product relative-->
<br>

