USE [master]
GO
/****** Object:  Database [ledsangviet]    Script Date: 10/12/2016 9:46:06 PM ******/
CREATE DATABASE [ledsangviet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ledsangviet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.CHUONGNH\MSSQL\DATA\ledsangviet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ledsangviet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.CHUONGNH\MSSQL\DATA\ledsangviet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ledsangviet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ledsangviet]
GO
USE [ledsangviet]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[About]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Email] [nvarchar](max) NULL,
	[Hotline] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
	[Fanpage] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[Status] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.About] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Name] [nvarchar](250) NULL,
	[Birthday] [datetime] NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](500) NULL,
	[Image] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[ShowOnHome] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](250) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[Image] [nvarchar](250) NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[Name] [nvarchar](250) NULL,
	[Price] [nvarchar](max) NULL,
	[ChipLed] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[CategoryId] [int] NOT NULL,
	[ShowOnHome] [bit] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Waranty] [nvarchar](50) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[MetaKeywords] [nvarchar](250) NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slide]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](250) NULL,
	[Link] [nvarchar](250) NULL,
	[Description] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Slide] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 10/12/2016 9:46:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemConfig] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[About] ON 

SET IDENTITY_INSERT [dbo].[About] OFF
INSERT [dbo].[Account] ([Username], [Password], [Email], [Name], [Birthday], [Gender], [Address], [Image]) VALUES (N'chuongnh', N'54072f485cdb7897ebbcaf7525139561', N'chuongnhh@gmail.com', N'Nguyen Hoang Chuong', CAST(N'1994-08-29T00:00:00.000' AS DateTime), N'Nam', N'Tien Giang', NULL)
SET IDENTITY_INSERT [dbo].[Category] ON 

SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [Name], [Email], [Address], [PhoneNumber], [Content]) VALUES (1, N'xxx', NULL, NULL, NULL, NULL)
INSERT [dbo].[Feedback] ([Id], [Name], [Email], [Address], [PhoneNumber], [Content]) VALUES (2, N'Nguyen Hoang Chuong', N'chuongnhh@gmail.com', N'Tien Giang', N'01647931390', N'Đây là nội dung')
INSERT [dbo].[Feedback] ([Id], [Name], [Email], [Address], [PhoneNumber], [Content]) VALUES (3, N'Nguyen Hoang Chuong', N'chuongnhh@gmail.com', N'Tien Giang', N'01647931390', N'Đây là nội dung')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([Id], [Name], [Image], [Link], [Description], [DisplayOrder], [CreateDate], [CreateBy]) VALUES (1, N'/Assets/images/slide/1 (1).jpg', N'/Assets/images/slide/1 (1).jpg', N'/Assets/images/slide/1 (1).jpg', NULL, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Slide] ([Id], [Name], [Image], [Link], [Description], [DisplayOrder], [CreateDate], [CreateBy]) VALUES (2, N'/Assets/images/slide/1 (2).jpg', N'/Assets/images/slide/1 (2).jpg', N'/Assets/images/slide/1 (2).jpg', NULL, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Slide] ([Id], [Name], [Image], [Link], [Description], [DisplayOrder], [CreateDate], [CreateBy]) VALUES (4, N'/Assets/images/slide/1 (3).jpg', N'/Assets/images/slide/1 (3).jpg', N'/Assets/images/slide/1 (3).jpg', NULL, 0, CAST(N'1900-01-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Slide] OFF
/****** Object:  Index [IX_CategoryId]    Script Date: 10/12/2016 9:46:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Product]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[About] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[About] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [ShowOnHome]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [ShowOnHome]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryId]
GO
USE [master]
GO
