
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nguyen Hoang Chuong">
    <meta name="author" content="Nguyen Hoang Chuong">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="/Assets/Client/favicon.ico">

    <!-- App title -->
    <title>Internal server error | Led sáng việt</title>

    <!-- App CSS -->
    <link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/Assets/Client/js/modernizr.min.js"></script>
</head>
<body>
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="ex-page-content text-xs-center">
            <div class="text-error shadow">500</div>
            <h3 class="text-uppercase text-white font-600">LỖI MÁY CHỦ NỘI BỘ</h3>
            <p class="text-white m-t-30">
                Tại sao không thử làm mới trang của bạn? hoặc bạn có thể liên hệ để được<a href="/Contact" class="text-white text-uppercase"><b> hỗ trợ</b></a>
            </p>
            <br>
            <a class="btn btn-pink waves-effect waves-light" href="/trang-chu"> Trở về trang chủ</a>
        </div>
    </div>
    <!-- end wrapper page -->
    <script>
            var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="/Assets/Client/js/jquery.min.js"></script>
    <script src="/Assets/Client/js/tether.min.js"></script><!-- Tether for Bootstrap -->
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script src="/Assets/Client/js/waves.js"></script>
    <script src="/Assets/Client/js/jquery.nicescroll.js"></script>
    <script src="/Assets/Client/plugins/switchery/switchery.min.js"></script>

    <!-- App js -->
    <script src="/Assets/Client/js/jquery.core.js"></script>
    <script src="/Assets/Client/js/jquery.app.js"></script>
</body>
</html>