
@{
    ViewBag.Title = "Giới thiệu | chuongnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssHeader{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/Assets/Frontend/pages/css/about.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
}
@section jsFooter{
}

<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>
                                About Us
                                <small>about us page</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        @*<ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>General</span>
                            </li>
                        </ul>*@
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <!-- BEGIN LINKS BLOCK -->
                            <div class="row about-links-cont" data-auto-height="true">
                                <div class="col-md-6 col-sm-12">

                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="about-image" style="background: url(/Assets/Frontend/pages/media/works/img4.jpg) center no-repeat;"></div>
                                </div>
                            </div>
                            <!-- END LINKS BLOCK -->
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>

