
@{
    ViewBag.Title = "Loại sản phẩm | Led sáng việt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-xs-12">
        <div class="card-box">
            <div class="panel-body">
                <div class="clearfix">
                    <div class="pull-left">
                        <h2 class="logo" style="color: #2b3d51 !important;">Đèn Led downlight âm trần</h2>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-xl-6">

                        <div class="pull-xs-left" style="margin-top: 15px">
                            <address>
                                <strong>Đèn Led downlight âm trần</strong><br><br>
                                Đèn LED downlight âm trần là loại đèn LED dùng âm trần có chùm sáng định hướng, ánh sáng đồng đều, không chói.<hr>

                                Đèn LED âm trần thiết kế bằng nhôm đúc với kiểu dáng sang trọng và tinh tế, tản nhiệt tốt, tiêu thụ điện năng thấp và tuổi thọ cao. Ứng dụng: khách sạn, nhà hàng, văn phòng, trung tâm thương mại,…
                            </address>

                        </div>
                    </div><!-- end col -->
                    <div class="col-xs-12 col-lg-12 col-xl-6">
                        <div class="thumb">
                            <img src="/Assets/images/gallery/2.jpg" class="thumb-img">
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<!-- product relative-->
<div class="row">
    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolioContainer">
        <div class="col-sm-6 col-md-3">
            <div class="thumb">
                <a href="san-pham.html" class="image-popup" title="Screenshot-1">
                    <img src="/Assets/images/product/product.png" class="thumb-img" alt="work-thumbnail">
                </a>
                <div class="gal-detail text-xs">
                    <h4 class="m-t-10"><a href="san-pham.html">Đèn đường led 126W</a></h4>
                    <p class="text-muted">
                        Giá sản phẩm: <strong>165,000 VNĐ</strong><br>
                        Chip led: <strong>Epistar</strong> - Đài Loan<br>
                        Bảo hành: 24 tháng<br>
                        Hãng sản xuất: <strong>LedLife</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / product relative-->
<br />